body{
  background-color: #1F1F1F;
}  
.title{
  color: lightgrey;
  text-align: center;
  margin: -8px 0px 0px 0px;
  font-family: Abel;
  border-width: 1px;
  font-size: 50px;
  font-style: italic;
  padding: 100px;
  background-repeat: no-repeat;
  background-size: cover;
}
.buttonbar{
  color: lavender;
  height: 40px;
  background-color: #3c32a8;
  text-align:center;
  margin: 0px 200px 0px 200px
}
.button{
  color:lavender;
  background-color: transparent;
  border:none;
  padding: 9px;
  font-family: "Alike Angular";
  font-size: 20px;
  outline: none;
  cursor:pointer;
}
.vertical{ 
  border-left: 1px solid lavender; 
  height: 40px; 
  position:absolute; 
  left: 50%;
  #margin: -40px 0px 0px -5px;
} 
table, th, td {
  border: 1px solid lightgrey;
  padding: 5px;
  text-align: left;
}
table{
  margin: 20px 0px 10px 0px;
  width: 5px;
  border-collapse: collapse;
}
th,td{
  color: lightgrey;
}

