body{
  background-color: #1F1F1F;
}  
.title{
  color: lightgrey;
  text-align: center;
  margin: -8px 0px 0px 0px;
  font-family: Abel;
  border-width: 1px;
  font-size: 50px;
  font-style: italic;
  padding: 100px;
  background-repeat: no-repeat;
  background-size: cover;
}
.buttonbar, .button{
  color: lavender;
}
.buttonbar{
  height: 60px;
  background-color: #353c57;
  text-align:right;
  margin: 0px 250px 0px 250px;
}
.button{
  background-color: transparent;
  padding: 18px 60px 18px 60px;
  font-family: "Alike Angular";
  font-size: 20px;
  outline: none;
  cursor: pointer;
  margin: 0px 0px 0px -5px;
  border: solid 0.5px lavender;
}
.button:hover{
  background-color: #586185;
}

table, th, td {
  border: 1px solid lightgrey;
  padding: 5px;
  text-align: left;
}
table{
  margin: 20px 0px 10px 0px;
  width: 5px;
  border-collapse: collapse;
}
th,td{
  color: lightgrey;
}
.timer{
  padding: 18px 196px 18px 196px;
  background: #586185;
  cursor: default;
}
.timer:hover{
  background: #586185;
}

