body{
  background-color: #1F1F1F;
}  
h1{
  color: lightgray;
  font-family: Abel;
}
.title{
  text-align: center;
  margin: -8px 0px 0px 0px;
  
  border-width: 1px;
  font-size: 50px;
  font-style: italic;
  padding: 100px;
  background-repeat: no-repeat;
  background-size: cover;
}
.buttonbar, .button{
  color: lavender;
}
.buttonbar{
  height: 60px;
  text-align:center;
}
.button{
  background-color: #353c57;
  padding: 18px 60px 18px 60px;
  font-family: "Alike Angular";
  font-size: 20px;
  outline: none;
  cursor: pointer;
  margin: 0px 0px 0px -5px;
  border: solid 0.5px lavender;
}
.button:hover{
  background-color: #586185;
}

table, th, td {
  border: 1px solid lightgrey;
  padding: 5px;
  text-align: left;
  font-size: 15px;
}
table{
  margin: 20px 0px 10px 0px;
  width: 5px;
  border-collapse: collapse;
}
th,td{
  color: lightgrey;
}
.timer{
  padding: 18px 156px 18px 156px;
  background: #586185;
  cursor: default;
}
.timer:hover{
  background: #586185;
}
.date{
  width: 375px;
}
.location{
  width: 110px;
}
